{{!< mainlayout}}

<h2>Simple Input</h2>

<label for="my-input">
  <span>Write something here</span>
  <input id="my-input" type="text">
</label>

<h2>Magic happens below...</h2>
<div id="my-content"></div>

<script src="./simple-input.ts"></script>
