{{!< mainlayout}}

<h2>Ajax Example</h2>

<h3>Book Search</h3>

<div class="Form-input">
  <label>
    <span class="Form-inputLabel">Type to find the book you're looking for</span>
    <input type="text" name="first-name" data-input>
  </label>
</div>

<pre>
<code data-result></code>
</pre>

<script src="./ajax-example.ts"></script>
