{{!< mainlayout}}

<div class="combos combo-tracker"></div>

<div class="container">
  <span class="message">message!</span>
  <img class="ryu" src="http://vignette.wikia.nocookie.net/streetfighter/images/c/cb/Ryu-hdstance.gif" alt="">
  <img class="animation" alt="">
</div>

<script src="./buffer-combo.ts"></script>
