{{!< mainlayout}}

<h2>Input Validation</h2>

<form class="Form" data-form>
  <div class="Form-input">
    <label>
      <span class="Form-inputLabel">First Name</span>
      <input type="text" name="first-name">
    </label>
  </div>

  <div class="Form-input">
    <label>
      <span class="Form-inputLabel">Last Name</span>
      <input type="text" name="last-name">
    </label>
  </div>

  <div class="Form-input">
    <label>
      <span class="Form-inputLabel">Email</span>
      <input type="text" name="email">
    </label>
  </div>

  <div>
    <button type="submit">Send</button>
  </div>
</form>

<script src="./input-validation.ts"></script>
