{{!< mainlayout}}

<h2>Markdown Editor</h2>

<div class="Markdown-container" data-markdown-editor>
  <div class="Markdown-column">
    <textarea class="Markdown-editor" data-editor></textarea>
  </div>
  <div class="Markdown-column">
    <div class="Markdown-result" data-result></div>
  </div>
</div>

<script src="./markdown-editor.ts"></script>
