{{!< mainlayout}}

<div>
  <h1>Rx Practical Examples</h1>
  <ul>
    <li><a href="./simple-input/simple-input.hbs">Simple Input</a></li>
    <li><a href="./markdown-editor/markdown-editor.hbs">Markdown Editor</a></li>
    <li><a href="./input-validation/input-validation.hbs">Input validation</a></li>
    <li><a href="./ajax-example/ajax-example.hbs">Ajax Example</a></li>
    <li><a href="./scroll-direction/scroll-direction.hbs">Scroll Direction</a></li>
  </ul>
</div>
